################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################


/ProgramTest

# 忽略 Visual Studio 用户特定文件
.vs/

# 忽略生成文件
**/bin/**
**/obj/**